<footer>


<div class="container-fluid p-0">
    <div class="row text-left">
        <div class="col-md-5 col-md-5">
            <h1 class="text-light">About Us</h1>
            <p class="text-muted pt-4">@2019 Copyright All Right Reserved. Teekle</p>
        </div>

        <div class="col-md-5">
            <h4 class="text-light">Newsletter</h4>
            <p class="text-muted">Stay updated</p>
            <form class="for-inline">
                <div class="col pl-0">
                  <div class="input-group pr-5">
                    <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="fas fa-arrow-right "></i>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
        </div>


        <div class="col-md-2">
            <h4 class="text-light">Follow Us</h4>
            <div class="column">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-twitter"></i>
            </div>
        </div> 


      <!-- <div class="col-md-5 col-md-5">
        <h1 class="text-light">About Us</h1>
        <p class="text-muted pt-4">@2019 Copyright All Right Reserved. Teekle  </p>
        <span>asdfasdfasdf</span>

    </div>
    <div class="col-md-5">
      <h4 class="text-light">뉴스레터</h4>
      <p class="text-muted pt-4">업데이트</p>
      <form class="for-inline">
          <div class="col pl-0">
            <div class="input-group pr-5">
              <input type="text" class="form-control bg-dark text-white" placeholder="Email">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-arrow-right "></i>
                </div>
              </div>
            </div>
          </div>
        </form>

  </div>
  <div class="col-md-2">
      <h4 class="text-light">Follow Us</h4>
      <div class="column">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </div> -->
  </div>

</div>
</footer>


